<div class="main">
  <div class="startButton">
    <div >
      <input style="display:none" type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput" (change)="onFileSelected($event)">
      <button id="upload" style="display: none" type="button" (click)="onUpload()">Upload File</button>
      <button onclick="cameraInput.click()" mat-raised-button >1. Step Select Image</button>
    </div>



    <div  class="image-preview mb-3"  *ngIf="selectedFile">
      <img id="myimg"  [src]="this.loadedImg" height="300" />
    </div>

        <div >
      <button mat-raised-button onclick="upload.click()" [disabled]="!this.selectedFile" [ngClass]="this.selectedFile==null ? 'notReady' : 'ready'" >2. Upload Image</button>
    </div>


</div>
</div>
